/*@import url('https://fonts.googleapis.com/css?family=Righteous');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script');
@import url('https://fonts.googleapis.com/css?family=Nova+Mono');
*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	height:100%;
}

body{
	background-color: #C13B00;
	height: 100%;
}

#wrapper{
	width: 90%;
	height: 99%;
	margin: 0.5em auto 2em auto;
	background-color: #1B1D1E;
}

#wrapper > h1{
	font-family: 'Righteous', cursive;
	font-size: 3.5em;
	color:white;
	text-align: center;
	margin-top:-1%;
	margin-bottom: -1%;
}

#wrapper > p{
	color:#FF6600;
	font-family: 'Dancing Script', cursive;
	font-size:1.5em;
	text-align: center;
}

.mini-Notes{
	font-family: 'Dancing Script', cursive;
	font-size:0.8em;
	padding: 0.5em;
	margin-bottom: 14%;
	width:25%;
	height:20%;
	margin-left: 40.7%;
	z-index:20;
	transform: rotate(3.4deg);
}

.mini-Notes img{
	width:100%;
	margin-top:-8%;
}

#savedNotes{
	padding-top: 5.2%;
	margin-top:-55%;
	margin-left:50%;
	position:absolute;
	width: 50%;
	height: 46vw;
}

#container{
	position:relative;
	width:90%;
	height:43vw;
	margin: .5em auto auto auto;
	border: solid 2px white;
	background: #424E4F url("../img/bigNote.png") no-repeat;
	background-size: 80%;
	background-position: center -3em;
}

#note-Date{
	margin-top: 8%;
	margin-left: 25%;
	width: 30%;
	height: 10%;
	font-family: 'Dancing Script', cursive;
	font-size:170%;
	color:gray;
	background-color: transparent;
	transform: rotate(3.5deg);
	text-align:right;
}

#container > textarea{
	margin: 3% auto 0 19%;
	width: 35%;
	height: 50%;
	font-family: 'Nova Mono', monospace;
	font-size:1.2em;
	color:black;
	text-align: center;
	background-color: transparent;
	transform: rotate(3.4deg);
	border:none;
	/*background-color: #5E6D70;*/
}

#container > input[type="submit"] {
  width:35%;
  margin-top: 6%;
  margin-left:18%;
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 12px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

#container > input[type="submit"]:hover {
  background: #fc963c;
  background-image: -webkit-linear-gradient(top, #fc963c, #3498db);
  background-image: -moz-linear-gradient(top, #fc963c, #3498db);
  background-image: -ms-linear-gradient(top, #fc963c, #3498db);
  background-image: -o-linear-gradient(top, #fc963c, #3498db);
  background-image: linear-gradient(to bottom, #fc963c, #3498db);
  text-decoration: none;
}

#container > *{
	display: block;
	position: relative;
}

#allNotesContainer{
	visibility: hidden;
	margin-top:-42.99%;
	left:9.5%;
	width:81%;
	height:43vw;
	position:absolute;
	background-color: #424E4F;
	border:white 2px solid;
	overflow:auto;
}

.all-mini-Notes{
	font-family: 'Dancing Script', cursive;
	margin-left:4%;
	margin-top:3%;
	width:20%;
	height:33%;
	background-color: white;
	float:left;
	position: relative;
}

.all-mini-Notes > p{
	height:65%;
	overflow:auto;
	padding:1%;
}

.mini-notes-footer{
	position:absolute;
	width:100%;
	height:15% !important;
	font-family: 'Dancing Script', cursive;
	font-size: 0.7em;
}

#singleNote{
	visibility:hidden;
	top:0;
	position: fixed;
	left:0;
	width:100%;
	height:100vh;
	background-color: rgba(0,0,0,.7);
	overflow:auto;
}

#singleNote>div{
	top:22.5vh;
	left:32.5%;
	margin:auto;
	position: fixed;
	width:35%;
	height:55vh;
	background-color: white;
	overflow:auto;
}

#singleNote p{
	height:90%;
	margin-bottom:0;
	overflow:auto;
	padding:14%;
}
		
#singleNote input{
	display:block;
	width:40%;
	margin-top: 1%;
	margin-left:7.5%;
	float:left;
	font-size:1.5em;
}